.card-container {
  position: relative;
  border: 3px solid #3e4537;
  height: 500px;
  width: 350px;
  overflow: hidden;
  display: flex;
  border-radius: 10px;
}

.card__img {
  min-width: 100%;
  min-height: 100%;
  transition: transform 0.8s;
}

.card__img:hover {
  transform: scale(1.1);
}
