.big-card-container {
  padding-top: 15%;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
}

.big-card__img > img {
  width: 100%;
  object-fit: contain;
}

.big-card__description {
  background-color: rgba(0, 0, 0, 0.301);
  width: 10;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: bold;
  position: relative;
  top: -60px;
}

/* .big-card__description__title {
  display: flex;
  flex-direction: column;
} */
.big-card__description__price {
  display: flex;
  justify-content: space-between;
}
