.big-card-container {
  border: 5px solid green;
  height: 700px;
}

.big-card__img > img {
  border: 5px solid green;
  height: 100%;
  width: 450px;
}

.big-card__description {
  border: 5px solid green;
  background-color: rgba(0, 0, 0, 0.301);
  width: 10;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: bold;
  position: relative;
  top: -70px;
}

/* .big-card__description__title {
  display: flex;
  flex-direction: column;
} */
.big-card__description__price {
  display: flex;
  justify-content: space-between;
}
