<app-menu-bar></app-menu-bar>
<div class="card-container">
  <app-card
    cardImage="../assets/images/bt-1.jpg"
    cardLabel="OFERTA"
    cardTitle="Buy It Now!"
    cardConsole="PS4"
    cardPrice="R$ 79,99"
  ></app-card>
  <app-card
    cardImage="../assets/images/bt-4.jpg"
    cardLabel="OFERTA"
    cardTitle="Buy It Now!"
    cardConsole="PS4"
    cardPrice="R$ 49,99"
  >
  </app-card>
  <app-card
    cardImage="../assets/images/bt-5.jpg"
    cardLabel="OFERTA"
    cardTitle="Buy It Now!"
    cardConsole="PS4"
    cardPrice="R$ 129,99"
  ></app-card>
  <app-card
    cardImage="../assets/images/bt-bad-company-2.jpg"
    cardLabel="OFERTA"
    cardTitle="Buy It Now!"
    cardConsole="PS4"
    cardPrice="R$ 39,99"
  ></app-card>
  <app-card
    cardImage="../assets/images/ac-cover.jpg"
    cardLabel="OFERTA"
    cardTitle="Buy It Now!"
    cardConsole="PS4"
    cardPrice="R$ 69,99"
  ></app-card>
</div>

<router-outlet></router-outlet>
