<div class="menu-container">
  <div class="menu__logo">SONY</div>
  <div class="menu__options">
    <div class="menu__options__img">
      <a href="#"
        ><img src="\assets\images\ps-logo.png" width="150" alt="ps-logo"
      /></a>
    </div>
    <div class="menu__options__links">
      <a href="#"><span>Jogos</span></a>
      <a href="#"><span>Hardware</span></a>
      <a href="#"><span>Serviços</span></a>
      <a href="#"><span>Notícias</span></a>
      <a href="#"><span>Loja</span></a>
      <a href="#"><span>Suporte</span></a>
    </div>
    <div class="menu__options_buttons">
      <button type="button">Iniciar sessão</button>
      <input type="text" placeholder="Pesquisar" />
    </div>
  </div>
</div>
