<div class="menu-container">
  <div class="menu__logo">SONY</div>
  <div class="menu__options">
    <div class="menu__options__links">
      <a href="#"><img src="" alt="ps-logo" /></a>
      <a href="#"><span>Jogos</span></a>
      <a href="#"><span>Hardware</span></a>
      <a href="#"><span>Serviços</span></a>
      <a href="#"><span>Notícias</span></a>
      <a href="#"><span>Loja</span></a>
      <a href="#"><span>Suporte</span></a>
    </div>
    <div class="menu__options_buttons">
      <button type="button">Iniciar sessão</button>
      <input type="text" placeholder="Pesquisar" />
    </div>
  </div>
  <div class="menu__pages">
    <div class="menu__pages__img">
      <img src="" alt="store-logo" />
    </div>
    <div class="menu__pages__links">
      <a href="#"><span>Novidades</span></a>
      <a href="#"><span>Coleções</span></a>
      <a href="#"><span>Ofertas</span></a>
      <a href="#"><span>PS5</span></a>
      <a href="#"><span>Assinaturas</span></a>
      <a href="#"><span>Navegar</span></a>
    </div>
  </div>
</div>
