.menu-container {
  border: 1px solid black;
  background-color: #ffffff;
  box-shadow: 0px 1px 1px 0;
}

.menu__logo {
  font-family: "Times New Roman", Times, serif;
  width: 100%;
  color: #ffffff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #000000;
  height: 32px;
  padding-right: 15px;
}

.menu__options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 52px;
  margin: 0 15px 0 15px;
  padding-right: 30px;
}

.menu__options__links {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.menu__options__links > a {
  text-decoration: none;
  color: #7b7b7b;
  font-weight: bold;
}

.menu__pages {
  display: flex;
}

.menu__pages__links {
  margin: auto;
}

.menu__pages__links > a {
  margin-left: 5px;
  margin-right: 5px;
  color: #000000;
  text-decoration: none;
}

.menu__options_buttons {
  display: flex;
  gap: 10px;
}

.menu__options_buttons > button {
  background-color: #0a0680;
  height: 32px;
  width: 150px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}
.menu__options_buttons > input {
  height: 32px;
  width: 150px;
  border-radius: 5px;
}
